<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="~{commons/head::head}"></th:block>
</head>
  <body>
    <!--headder-->
    <div class="header-outs inner_page-banner " id="home">
      <div class="header-w3layouts">
        <nav th:replace="~{commons/bar::navbar}"></nav>
      </div>
    </div>
    <!--//headder-->
    <div th:replace="~{commons/short::short('投资理念')}"></div>
    <!--price-->
    <section class="service-two py-lg-4 py-md-3 py-sm-3 py-3">
      <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
        <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">投资理念</h3>
        <div class="row w3pvt-service-grids-all text-center">
          <div class="col-lg-4 col-md-4 pricing-grid grid-one">
            <div class=" w3ls-bottom">
              <h4 class="mb-lg-4 mb-md-3 mb-3">一：专业专注</h4>
              <ul class="count">
                <li >唯有专业专注，才能让人保持警惕。</li>
                <li >尽管过程会枯燥艰苦疲惫，但想要获胜，这是必不可少的代价。</li>
                <li >我们的团队核心人员每天研究股市超过12小时，几乎没有娱乐和其他爱好，这种习惯已经持续了20多年。</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 pricing-grid grid-two">
            <div class=" w3ls-bottom">
              <h4 class="mb-lg-4 mb-md-3 mb-3">二：长期投资</h4>
              <ul class="count">
                <li >长期投资，不一定是持有一只股票的时间有多长，而是投资生涯有多长。</li>
                <li >只有把投资当成终身事业来做，心态才会长期，行为才会理性，才不会为了追逐一时的利益去冒无谓的风险。</li>
                <li >我们团队核心人员拥有20多年的资本市场操作经验，在实战中形成了快准狠的投资风格，并且一以贯之地坚持。这种坚持，才是长期投资者的根本特征。</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 pricing-grid grid-three">
            <div class=" w3ls-bottom">
              <h4 class="mb-lg-4 mb-md-3 mb-3">三：投资收益高于指数</h4>
              <ul class="count">
                <li >我们的投资业绩：投资收益上涨幅度快，长期远远战胜指数；波动幅度平稳，即使在市场大幅下跌时，业绩也总能保持相对平稳。</li>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
