<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="~{commons/head::head}"></th:block>
</head>
  <body>
    <!--headder-->
    <div class="header-outs inner_page-banner " id="home">
      <div class="header-w3layouts">
        <nav th:replace="~{commons/bar::navbar}"></nav>
      </div>
    </div>
    <!--//headder-->
    <div th:replace="~{commons/short::short('投研团队')}"></div>
    <!--Footer -->
    <section class="buttom-footer py-lg-4 py-md-3 py-sm-3 py-3">
      <div class="container py-lg-5 py-md-5 py-sm-4 py-4">
        <div class="state-us mb-lg-4 mb-md-3 mb-3 text-center">
          <h2>基金经理</h2>
        </div>
        <div class="sub-para">
          <p>&nbsp;&nbsp;&nbsp;&nbsp;邓宝英女士，二十五年企业管理和投资管理经验，专注于对行业和企业发展变化的跟踪和研究，专注于早期的企业价值发现和投资，致力于成为投资者心目中收益最好和最受信赖的资产管理人。在私募游子圈很有威望，人称“股神”，“私募一姐”。丰富的决策和市场交易经验，独到的资本运作手法，担任9家公司总经理、执行董事，任上海博琴资产管理有限公司法定代表人、总经理。她培养了一支战斗力极强的神之队，是中国游资圈最受关注也最为神秘的私募人士。她从不在公开场合发声，极少接受媒体采访。她喜欢读书，研究股票的共性和特许，钻研国内外的各种投资方法，每天盘后经常研究个股到凌晨，总能在几千只股票里找出第二天具有最佳爆发力的黑马股票，入选的黑马股票经常第二天涨停，或者连续涨停。不管大势如何不乐观，股神稳、准、狠、辣的操盘手法，总能无惧于大盘调整，跑赢市场。她对股市热点的把握可以说是达到了登峰造极、高度精准的程度，个人资产迅速累积，成为游资圈赫赫有名的交易高手。从游资私募圈成名，到公开发行证券私募产品，股神在创造一个又一个资本市场奇迹的同时始终保持神秘。
          </p>
        </div>
      </div>
      <div class="container py-lg-5 py-md-5 py-sm-4 py-4">
        <div class="state-us mb-lg-4 mb-md-3 mb-3 text-center">
          <h2>投资总监</h2>
        </div>
        <div class="sub-para">
          <p>&nbsp;&nbsp;&nbsp;&nbsp;邓宝英女士，毕业于华东交通大学，本科，从业经验十年以上，知名私募行业研究员出身，在券商资管和产业投资基金担任过投资总监等职务。专注于行业和企业发展变化的跟踪和研究，专注于早期的企业价值发现和投资，擅长于宏观经济的策略解读和分析，投资人行为心理学研究，对致力于成为投资者心目中收益最好和最受信赖的资产管理人。
          </p>
        </div>
      </div>
      <div class="container py-lg-5 py-md-5 py-sm-4 py-4">
        <div class="state-us mb-lg-4 mb-md-3 mb-3 text-center">
          <h2>风控总监</h2>
        </div>
        <div class="sub-para">
          <p>&nbsp;&nbsp;&nbsp;&nbsp;郑曙卿女士，中国政法大学法学本科，1992年进入交通银行上海分行，中共党员，经济师职称，具有27年资本市场研究和投资从业经验，曾担任基金经理、投资总监、风控总监、交通银行五莲路支行行长、川沙支行行长、金杨路支行行长等;投资涉及债券、证券、期货、基金等，具有开阔的思维视野，敏锐果断的研判决策能力和风险意识；具有优秀的投资业绩、管理和合规风控能力，多次获得交易大赛周、月、季冠军；丰富的投研经验和成熟的合规风控体系，对基金产品的日常运作进行合规监控，善于设置相应的风险制度，检测投资风险，提示风险并采取风控措施。
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
