<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>博琴后台</title>
    <link href="css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css" media="all">
</head>
<body>
<h2><a class="btn btn-sm btn-success" href="emp" th:href="@{/fund/add}">新增价格</a></h2>
<div class="box-body" style="height: 800px;overflow: scroll;overflow-x: hidden">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>序号</th>
            <th>价格</th>
            <th>时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="fundPrice,i:${fundPrices}">
            <td th:text="${i.count}"></td>
            <td th:text="${fundPrice.price}"></td>
            <td th:text="${#dates.format(fundPrice.ctime,'yyyy-MM-dd')}"></td>
            <td>
                <a class="btn btn-sm btn-warning" th:href="@{/fund/update?id=}+${fundPrice.id}">修改</a>
                <button class="btn btn-sm btn-danger deleteBtn" th:attr="del_id=${fundPrice.id}">删除</button>
            </td>
        </tr>
        </tbody>
    </table>
    <form id="delFundPrice" method="get" th:action="@{/fund/del}">
        <input name="id" id="del_id" hidden="hidden">
    </form>
</div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<script>
    $(".deleteBtn").click(function(){
        if(confirm('确认删除吗') == true){
            $("#del_id").val($(this).attr("del_id"));
            $("#delFundPrice").submit();
        }
    });
</script>
</body>
</html>
